body {
  background-color: var(--background);
  margin: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("https://telegra.ph/file/ed486e42c7faec10b62d6.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  background-position: center;
  background-attachment: fixed;
  color: white; /* Warna teks global */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}